SECRET_KEY=super-secret-key-change-me
FLASK_APP=run.py
FLASK_ENV=development
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@[YOUR-HOST]:5432/postgres

HOST=database.local
PORT=5432
DATABASE=postgres
USER=postgres
